<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://images.unsplash.com/photo-1514767062397-b7df0081d8f5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d3bf4cb147b2bfbd4fe18028388eab03&auto=format&fit=crop&w=600&q=80">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>