<% include partials/header %>
<h1>This is the home page!</h1>
<img src="http://cdn4.thr.com/sites/default/files/imagecache/scale_crop_768_433/2017/03/screen_shot_2017-03-27_at_7.jpg">
<% include partials/footer %>